[submodule "specter"]
	path = specter
	url = https://github.com/ronaldseoh/specter
[submodule "s2orc"]
	path = s2orc
	url = https://github.com/ronaldseoh/s2orc
[submodule "scidocs"]
	path = scidocs
	url = https://github.com/ronaldseoh/scidocs
[submodule "scincl"]
	path = scincl
	url = https://github.com/ronaldseoh/scincl.git
